RedisOutputCache/RedisApiCache/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.nupkg
RedisOutputCache/RedisApiCache/obj/Debug/RedisApiCache.csproj.FileListAbsolute.txt
RedisOutputCache/RedisApiCache/obj/
RedisOutputCache/RedisApiCache/bin/
RedisOutputCache/packages/
RedisOutputCache/RedisApiCache.Test/obj/
RedisOutputCache/RedisApiCache.Test/bin/
RedisOutputCache/RedisApiCache.Test/Properties/
RedisOutputCache/RedisApiCache/Properties/
